# Autenticação (Gerado automaticamente no npm i)
SECRET_KEY=GERAR_SECRET_KEY_AUTOMATICO

# Banco de Dados Local (Gerado automaticamente no npm i)
POSTGRES_PASSWORD=GERAR_SENHA_BANCO_AUTOMATICO
DATABASE_URL=postgresql://amentoria_user:GERAR_SENHA_BANCO_AUTOMATICO@localhost:5433/amentoria

# Integração (Cole sua chave do GPT aqui)
OPENAI_API_KEY=cole_sua_chave_do_gpt_aqui